@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 20px Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

footer {
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    text-decoration: none;
}